<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Exo:200|Khula:300" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<div class="container text-center">
		<h1>TodoApp</h1>
		<h4>Organise Your Life</h4>
		<br>
	</div>